<div class="color-bg-subtle">
  <header class="Header container-xl px-3 px-md-4 px-lg-5 color-bg-subtle">
    <div class="Header-item mr-4"><a class="Header-link color-fg-default" href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <div class="Header-item"><a class="Header-link" href="{{ '/' | relative_url }}">Posts</a></div>
    <div class="Header-item"><a class="Header-link" href="{{ '/about' | relative_url }}">About</a></div>

    <div class="Header-item Header-item--full"></div>
    <div class="Header-item mr-0">
      <div class="Header-item"><input disabled placeholder="Search is not available" type="search" class="form-control Header-input"></div>
    </div>
  </header>
</div>
